/* -------------- General ---------------- */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://josephcoppin.com/animations.css');

* {
    font-family: 'Nunito';
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* -------------- Paragraph ---------------- */
.page_title {
    font-size:   40px;
    text-align:  center;
}

.fill_page {
    font-size:   150px;
    text-align:  center;
    line-height: 50%;
}

.title {
    font-size:   25px;
    text-align:  center;
    line-height: 80%;
}

.text {
    font-size:   15px;
}

.center_text {
    font-size:   15px;
    text-align:  center;
}

.warning {
    font-size:   13px;
}

.link {
    color: #7a7a7a;
    transition: 150ms;
}

.link:hover {
    color: #000000;
}

.rainbow {
    background: linear-gradient(to bottom right, green, cyan, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(120, 120, 120, 0.15);
}

/* ------------ Buttons + hyperlinks -------------- */
.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;

    border-style: solid;
    border-width: 2px;
    border-radius: 10px;

    margin: 15px;
    padding: 12px 22px 12px 22px;

    font-size:   18px;
    text-align:  center;

    transition:  0.2s;
}

.button:hover{
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}

.danger:hover{
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* -------------- Dividers, containers etc ---------------- */

div.page{
    overflow: auto;
    text-align: center;

    padding: 5px 20px;
    margin: 0;
}

div.container {
    text-align: center;
    overflow: auto;

    border-style: solid;
    border-width: 2px;
    border-radius: 10px;

    padding: 15px 15px;
    margin: 15px;

    box-shadow: 0 0 8px 2px rgba(0,0,0,0.15);
}

div.light-container {
    text-align: center;

    border-style: solid;
    border-width: 2px;
    border-radius: 10px;

    padding: 10px 10px;
    margin: 10px;

    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05)
}

div.sidebar {
    width:20%;
    height:75%;
    min-width:125px;
    max-width:300px;
    overflow: scroll;
    position: fixed !important;
}

div.progress-bar {
    width:   100%;
    z-index: 3;
    margin:  0;
    border:  none;
}

div.outer-progress-bar {
    padding: 0;
    z-index: 2;
    border:  none;
}

div.left-half {
    width: 50%;
    float: left;
    text-align: left;
}

div.right-half {
    width: 50%;
    float: right;
    text-align: right;
}

/* -------------- Text boxes and other inputs ---------------- */

input.text-box{
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-radius: 10px;

    width:   80%;

    margin:  15px;
    padding: 8px 20px 8px 20px;

    transition:  0.2s;
}

input.text-box:hover{
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);

    transition-delay: 0.2s;
}

input.text-box:active{
    border-style: none;
}

input {
    text-align: center;
}
